doctype html
html(lang="en")
    head
        - const DOMAIN = "https://kellexschools.com";
        - const DEFAULT_OG_IMAGE = "/kellex-logo.jpg";
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="/css/styles.css")
        title(key="title") Kellex Schools | Benin City - #{title}
        meta(name="description" content=`${description}`)
        meta(key="og_type" property="og:type" content='website')
        meta(key="og_title" property="og:title" content=`${title}`)
        meta(key="og_description" property="og:description" content=`${description}`)
        meta(key="og_locale" property="og:locale" content="en_IE")
        meta(key="og_site_name" property="og:site_name" content=`${siteName}`)
        meta(key="og_url" property="og:url" content=`${DOMAIN}`)
        meta(key="og_image" property="og:image" content=`${ogImage || DEFAULT_OG_IMAGE}`)
        meta(key="og_image:alt" property="og:image:alt" content=`${title} | ${siteName}`)
        meta(key="og_image:width" property="og:image:width" content='1200')
        meta(key="og_image:height" property="og:image:height" content='603')
        meta(name="robots" content="index,follow")
        meta(key="twitter:card" name="twitter:card" content="summary_large_image")
        meta(key="twitter:site" name="twitter:site" content="kellexschools")
        meta(key="twitter:creator" name="twitter:creator" content="kellexschools")
        meta(key="twitter:title" name="twitter:title" content=`${description}`)
        link(rel="canonical" href=`${DOMAIN}`)
        script(src="/scripts/svgxuse.js")  
    body
        aside.sidebar 
            include ./partials/_socials.pug     
        .container
            include ./partials/_nav.pug
            block content
                header.header.header__40-60.header--secondary 
                    .header__text-box.home.sm-order-2 
                        h1.heading.heading--primary.heading--flex 
                            span Kellex 
                            span Schools 
                        p.lead Shaping Your Children’s Future
                        a(href="/about-us").link About our school 
                    .header__img-box.home.sm-order-1
                        +image('landing-header', 'welcome to kellex school', 'jpg')
                main.main
                    section.section
                        .section__heading.padded-top
                            h2.heading.heading--secondary Why Kellex Schools
                        .col-2-1.auto-rows-1
                            .img-box.sm-order-2 
                                +image('approach', 'student and teacher in class', 'jpg', true)
                            .text-box.bg-secondary-dark--sm.sm-order-3.abs-lg
                                .text-box-inner 
                                    h3.heading.heading--tertiary.heading--white Our approach 
                                    p.text.text--white Include godly principles alongside academics, to use God fearing and dedicated teachers to implement integrated curriculum and to build a school...
                                    a.link(href="/about-us") More about Our approach
                            .text-box.bg-secondary-400.sm-order-1
                                .text-box-inner 
                                    h3.heading.heading--tertiary.heading--white Admission
                                    p.text.text--white As we admit children for the #{new Date().getFullYear()}/#{new Date().getFullYear()+1} Academic Session, we stand on our longstanding principle of  producing godly...
                                    a.link(href="/admission") Enroll today
                        .col-3.auto-rows-1
                            .img-box.sm-order-1
                                +image('enhanced', 'students in class', 'jpg', true)
                            .text-box.bg-secondary--sm.abs-lg.sm-order-2
                                .text-box-inner 
                                    h3.heading.heading--tertiary.heading--white Enhanced Learning
                                    p.text.text--white Complete and quality education with a view to turning out well-groomed scholars that will contribute immensely to our society.
                                    a.link(href="/academics") view programs 
                            .text-box.bg-secondary.sm-order-4
                                .text-box-inner 
                                    h3.heading.heading--tertiary.heading--white Latest News & Events 
                                    p.text.text--white Stay updated on the latest news and events.
                                    a.link(href="/news-and-events") view all 
                            .img-box.sm-order-3.no-shadow
                                +image('group', 'students in class', 'jpg', true)
                        .col-3.auto-rows-1
                            .text-box.bg-secondary-dark.sm-order-2
                                .text-box-inner 
                                    h3.heading.heading--tertiary.heading--white For the Parents
                                    p.text.text--white Get more information about Kellex schools
                                    a.link(href="/for-parents") Get informed 
                            .img-box.no-shadow.sm-order-1
                                +image('students', 'group of students', 'jpg', true)
                    section.section
                        - const features = [{title: 'academic excellence', icon: 'academic-excellence'}, {title: 'Vast Curriculum', icon: 'curriculum'}, {title: 'qualified teachers', icon: 'qualified-teachers'}, {title: 'top-level classrooms', icon: 'classroom'}, {title: 'students', icon: 'students'}, {title: 'Conducive Environment', icon: 'secured-environment'}]
                        .section__heading.padded-top 
                            h2.heading.heading--secondary We're Making A Difference
                        .col-3.auto-rows-1.features
                            each feature in features 
                                if feature.title == 'students'
                                    .feature.no-padding
                                        +image('students-group', 'students group photo in green and white', 'jpg')
                                else 
                                    +feature(feature.title, feature.icon)
                        
        include ./partials/_scripts.pug
        include ./partials/_footer.pug